/* _base.scss */
@import 'variables';

body {
  font-family: $fuente-principal;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: $gris;
  animation: fadeIn 1s ease-in-out;
}
