/* _header.scss */
@import 'variables';
@import 'mixins';

header {
  background-color: $verde-principal;
  color: $blanco;
  text-align: center;
  padding: 20px;
  animation: fadeInDown 1s ease-in-out;
}
